.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #001300;
  overflow: hidden;
  animation: animateColor 5s linear infinite;
}
@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.container span {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  /* background: #f00; */
}
.container span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00ff0a;
  border-radius: 50%;
  transition: 2s;
  transform: scale(0);
}
.container span:hover:before {
  transition: 0s;
  transform: scale(1);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #eaeaf0; */
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span {
  position: relative;
  width: 250px;
  height: 250px;
  background: #eaeaf0;
  border: 6px solid #eaeaf0;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
    8px 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  overflow: hidden;
}
.loader span::before {
  content: "";
  position: absolute;
  inset: 40px;
  background: #eaeaf0;
  border-radius: 50%;
  box-shadow: -8px -8px 25px rgba(255, 255, 255, 1),
    8px 8px 25px rgba(0, 0, 0, 0.25), inset 3px 3px 10px rgba(0, 0, 0, 0.1),
    inset -1px -1px 15px rgba(255, 255, 255, 1);
  border: 2px solid #eaeaf0;
  z-index: 1;
}
.loader span i {
  position: absolute;
  inset: 0;
  background: linear-gradient(#42abff, #ff3f8b, #ffeb3b);
  border-radius: 50%;
  filter: blur(5px);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
